* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #353836;
    color: white;
    font-family: "Poppins", sans-serif;
}

header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    background-color: #1d1f1d;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

#brand a {
    color: #09c372;
}

nav {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav .link {
    color: white;
    padding: 5px;
    margin-left: 10px;
}

nav .link:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
